<h4><span id="event-title"><%= event.title %></span>
<a class="glyphicon glyphicon-edit btn btn-lg" id="edit-button"></a>
</h4>
<p><strong>Host:</strong> <span id="event-host"><%= event.host_id %></span></p>
<p><strong>Location:</strong> <span id="event-location"><%= event.location %></span></p>
