
.title {
    margin-top: 60px;
    margin-bottom: 40px;
}

.title h3, .offset-wrapper h3, .page-intro h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


@media screen and (max-width: 900px){

  .title, h1 {
    font: 3.125em/1.2 Georgia,serif;
    text-align:center;
  }
}